<a href="https://colab.research.google.com/github/JoaoNettoo/Projeto-IA-ConsumodePetroleo/blob/main/Projeto_IA_ConsumoPetroleo.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Projeto IA Consumo de Petróleo**

**Equipe:** João Barbosa | Ruan Lucas

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [ ]:
import os

# Lista dos arquivos e diretórios no Google Drive
drive_path = '/content/drive/MyDrive/'
for root, dirs, files in os.walk(drive_path):
    for file in files:
        print(os.path.join(root, file))

/content/drive/MyDrive/Oil Consumption by Country 1965 to 2023.csv
/content/drive/MyDrive/Classroom/2023.1   1º ADS MANHÃ - TECNÓLOGO EM ANÁLISE E DESENVOLVIMENTO DE SISTEMAS/Seu Birita.mp4
/content/drive/MyDrive/Classroom/2023.1   1º ADS MANHÃ - TECNÓLOGO EM ANÁLISE E DESENVOLVIMENTO DE SISTEMAS/0516.mp4
/content/drive/MyDrive/Classroom/2023.1   1º ADS MANHÃ - TECNÓLOGO EM ANÁLISE E DESENVOLVIMENTO DE SISTEMAS/WhatsApp Image 2023-07-31 at 19.10.19 (1).jpeg
/content/drive/MyDrive/Classroom/2023.1   1º ADS MANHÃ - TECNÓLOGO EM ANÁLISE E DESENVOLVIMENTO DE SISTEMAS/WhatsApp Image 2023-07-31 at 19.10.19.jpeg
/content/drive/MyDrive/Classroom/2023.1   1º ADS MANHÃ - TECNÓLOGO EM ANÁLISE E DESENVOLVIMENTO DE SISTEMAS/FuelTech.pdf
/content/drive/MyDrive/Classroom/2023.1  1º ADS MANHÃ-Introdução à Programação/Lista de Exercícios 01.pdf
/content/drive/MyDrive/Classroom/2023.1  1º ADS MANHÃ-Introdução à Programação/Lista de Exercícios 02.pdf
/content/drive/MyDrive/Classroom/2023.1  1º ADS MANHÃ-Introdução à Programação/Lista de exercicios 3.pdf
/content/drive/MyDrive/Classroom/2023.1  1º ADS MANHÃ-Introdução à Programação/Lista de Exercícios 04.pdf
/content/drive/MyDrive/Classroom/2023.1  1º ADS MANHÃ-Introdução à Programação/Lista de Exercícios 05.pdf
/content/drive/MyDrive/Classroom/2023.1  1º ADS MANHÃ-Introdução à Programação/Lista de Exercícios 06.pdf
/content/drive/MyDrive/Classroom/2023.2   2º ADS MANHÃ - TECNÓLOGO EM ANÁLISE E DESENVOLVIMENTO DE SISTEMAS/João Barbosa da silva neto - ESTATÍSTICA - Medidas de posição para dados não agrupados.gdoc
/content/drive/MyDrive/Classroom/2023.2   2º ADS MANHÃ - TECNÓLOGO EM ANÁLISE E DESENVOLVIMENTO DE SISTEMAS/20231026_101208.jpg
/content/drive/MyDrive/Classroom/2023.2   2º ADS MANHÃ - TECNÓLOGO EM ANÁLISE E DESENVOLVIMENTO DE SISTEMAS/João Barbosa da silva neto - ESTATÍSTICA - Intervalos de confiança.gdoc
/content/drive/MyDrive/Classroom/2023.2   2º ADS MANHÃ - TECNÓLOGO EM ANÁLISE E DESENVOLVIMENTO DE SISTEMAS/João Barbosa da silva neto - ESTATÍSTICA - TESTE DE HIPÓTESES BILATERAIS.gdoc
/content/drive/MyDrive/Classroom/2023.2   2º ADS MANHÃ - TECNÓLOGO EM ANÁLISE E DESENVOLVIMENTO DE SISTEMAS/IMG_20231220_101630.jpg
/content/drive/MyDrive/Classroom/2023.2   2º ADS MANHÃ - TECNÓLOGO EM ANÁLISE E DESENVOLVIMENTO DE SISTEMAS/IMG_20231220_101639.jpg
/content/drive/MyDrive/Classroom/2023.2   2º ADS MANHÃ - TECNÓLOGO EM ANÁLISE E DESENVOLVIMENTO DE SISTEMAS/IMG_20231220_101705.jpg
/content/drive/MyDrive/Classroom/2023.2   2º ADS MANHÃ - TECNÓLOGO EM ANÁLISE E DESENVOLVIMENTO DE SISTEMAS/IMG_20231220_101718.jpg
/content/drive/MyDrive/Classroom/ACP-ADS 23.2/FinalACP.asm
/content/drive/MyDrive/Classroom/ACP-ADS 23.2/VID_20231227_012014.mp4
/content/drive/MyDrive/Classroom/ANÁLISE E PROJETO DE SISTEMAS 3º P - 2024.1/Sistema de controle de eventos.jpg
/content/drive/MyDrive/Classroom/ANÁLISE E PROJETO DE SISTEMAS 3º P - 2024.1/Descrição dos casos de uso.pdf
/content/drive/MyDrive/Classroom/ANÁLISE E PROJETO DE SISTEMAS 3º P - 2024.1/Diagrama de Casos de Uso.mdj
/content/drive/MyDrive/Classroom/ANÁLISE E PROJETO DE SISTEMAS 3º P - 2024.1/Documento de Requisitos .pdf
/content/drive/MyDrive/Classroom/ANÁLISE E PROJETO DE SISTEMAS 3º P - 2024.1/DiagramaFazerReserva.mdj
/content/drive/MyDrive/Classroom/ANÁLISE E PROJETO DE SISTEMAS 3º P - 2024.1/DiagramaGerarConta.mdj
/content/drive/MyDrive/Classroom/ANÁLISE E PROJETO DE SISTEMAS 3º P - 2024.1/DiagramaRegistrarPagamento.mdj
/content/drive/MyDrive/Classroom/ANÁLISE E PROJETO DE SISTEMAS 3º P - 2024.1/DiagramaRegistrarPedido.mdj
/content/drive/MyDrive/Classroom/ANÁLISE E PROJETO DE SISTEMAS 3º P - 2024.1/DiagramaVizualizarPedidos.mdj
/content/drive/MyDrive/Classroom/ANÁLISE E PROJETO DE SISTEMAS 3º P - 2024.1/ProjetoRestauranteAPS.pdf
/content/drive/MyDrive/Classroom/ANÁLISE E PROJETO DE SISTEMAS 3º P - 2024.1/Projeto APS Creator.pdf
/content/drive/MyDrive/Classroom/ANÁLISE E PROJETO DE SISTEMAS 3º P - 2024.1/DiagramaDeClassesRestaurante.pdf
/content/drive/MyDrive/Colab Notebooks/Cópia de IA_GridSearch_AlgoritmosGeneticos.ipynb
/content/drive/MyDrive/Colab Notebooks/Cópia de IA_Pratica_MLP_11Mar2024.ipynb
/content/drive/MyDrive/Colab Notebooks/Projeto-IA-ConsumoPetroleo.ipynb
/content/drive/MyDrive/world_Largest_Oil_Reserves_&_Consumption_Dataset/World Crude Oil Reserves from 1995 to 2021.csv
/content/drive/MyDrive/world_Largest_Oil_Reserves_&_Consumption_Dataset/Oil Consumption by Country 1965 to 2023.csv

In [ ]:
# Importação da base de dados, 5 primeiras linhas
import pandas as pd

file_path = ('/content/drive/MyDrive/Oil Consumption by Country 1965 to 2023.csv')

df = pd.read_csv(file_path)

df.head()

,Entity,1965,1966,1967,1968,1969,1970,1971,1972,1973,...,2014,2015,2016,2017,2018,2019,2020,2021,2022,2023
0,Africa,342.133700,370.450000,369.19354,390.365700,398.153260,435.02704,474.305400,510.729600,549.803960,...,2144.31420,2202.63060,2221.60620,2265.23630,2299.4292,2295.12060,2055.27830,2242.39450,2361.33700,2358.96680
1,Africa (EI),342.133700,370.450000,369.19350,390.365700,398.153260,435.02707,474.305360,510.729600,549.804000,...,2144.31420,2202.63060,2221.60600,2265.23630,2299.4292,2295.12060,2055.27830,2242.39480,2361.33700,2358.96680
2,Algeria,15.405252,20.272705,18.94203,20.167301,21.305931,24.34768,27.440048,30.121414,32.900345,...,221.92514,236.14848,229.56384,225.51212,227.7859,236.95130,211.92543,221.20369,226.85338,238.20117
3,Argentina,275.215900,283.876300,290.73495,296.797200,308.011440,278.43550,296.501100,295.186200,297.198640,...,379.91560,387.81003,375.90500,371.47742,354.6256,321.83243,288.19510,350.89080,411.80594,391.43518
4,Asia,2249.215000,2581.326200,2914.79130,3263.277300,3828.259300,4448.17870,4877.736300,5359.248000,6035.336000,...,21917.21900,22717.43400,23577.45900,24234.17600,24661.9820,24869.03100,23509.30000,24311.85000,23162.40600,24282.18800

In [ ]:
# 5 ultimas linhas
df.tail()

,Entity,1965,1966,1967,1968,1969,1970,1971,1972,1973,...,2014,2015,2016,2017,2018,2019,2020,2021,2022,2023
99,Uzbekistan,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,46.81668,44.268963,53.28734,49.598866,56.866768,58.118244,62.331253,61.463074,61.494442,61.651016
100,Venezuela,112.023760,110.105300,112.342155,122.373310,120.897606,126.479774,127.675095,139.25276,152.887800,...,452.41968,395.106080,347.05972,298.712460,237.622700,234.658430,135.119490,145.359600,179.185410,234.035020
101,Vietnam,18.011540,39.364290,57.652416,58.814095,71.083626,73.694630,62.343380,64.54946,63.385323,...,219.13017,266.775400,294.09840,308.181640,324.449000,333.533450,282.962650,273.277650,295.888340,332.010250
102,Western Africa (EI),49.667866,51.230038,52.564472,54.598923,59.500107,62.925400,77.300750,81.87820,91.572430,...,307.40265,313.080870,348.82306,381.031280,443.644070,450.638980,442.950530,485.941650,506.023900,490.330080
103,World,18012.520000,19427.398000,20779.828000,22511.285000,24446.174000,26672.713000,28117.908000,30331.37500,32722.135000,...,50011.83000,50977.210000,52060.85000,52978.800000,53521.387000,53618.926000,48745.684000,51530.492000,53226.840000,54564.000000

In [ ]:
# Arquivos nulos
df.isna().sum()

Entity     0
1965      14
1966      14
1967      14
1968      14
1969      14
1970      14
1971      13
1972      13
1973      13
1974      13
1975      13
1976      13
1977      13
1978      13
1979      13
1980      13
1981      13
1982      13
1983      13
1984      13
1985       4
1986       4
1987       4
1988       4
1989       4
1990       1
1991       1
1992       1
1993       1
1994       1
1995       1
1996       1
1997       1
1998       1
1999       1
2000       1
2001       1
2002       1
2003       1
2004       1
2005       1
2006       1
2007       1
2008       1
2009       1
2010       1
2011       1
2012       1
2013       1
2014       1
2015       1
2016       1
2017       1
2018       1
2019       1
2020       1
2021       1
2022       2
2023       2
dtype: int64

In [ ]:
# Remover linhas com valores nulos
df_clean = df.dropna(axis=0, how='any')

In [ ]:
# Amostra aleatória
print(df_clean)

                            Entity          1965          1966          1967  \
0                           Africa    342.133700    370.450000    369.193540
1                      Africa (EI)    342.133700    370.450000    369.193500
2                          Algeria     15.405252     20.272705     18.942030
3                        Argentina    275.215900    283.876300    290.734950
4                             Asia   2249.215000   2581.326200   2914.791300
..                             ...           ...           ...           ...
98   Upper-middle-income countries   3275.781700   3536.111600   3788.530000
100                      Venezuela    112.023760    110.105300    112.342155
101                        Vietnam     18.011540     39.364290     57.652416
102            Western Africa (EI)     49.667866     51.230038     52.564472
103                          World  18012.520000  19427.398000  20779.828000

             1968          1969          1970          1971          1972  \
0      390.365700    398.153260    435.027040    474.305400    510.729600
1      390.365700    398.153260    435.027070    474.305360    510.729600
2       20.167301     21.305931     24.347680     27.440048     30.121414
3      296.797200    308.011440    278.435500    296.501100    295.186200
4     3263.277300   3828.259300   4448.178700   4877.736300   5359.248000
..            ...           ...           ...           ...           ...
98    4086.721400   4395.023000   4842.529300   5267.667000   5756.290500
100    122.373310    120.897606    126.479774    127.675095    139.252760
101     58.814095     71.083626     73.694630     62.343380     64.549460
102     54.598923     59.500107     62.925400     77.300750     81.878200
103  22511.285000  24446.174000  26672.713000  28117.908000  30331.375000

             1973  ...         2014         2015         2016         2017  \
0      549.803960  ...   2144.31420   2202.63060   2221.60620   2265.23630
1      549.804000  ...   2144.31420   2202.63060   2221.60600   2265.23630
2       32.900345  ...    221.92514    236.14848    229.56384    225.51212
3      297.198640  ...    379.91560    387.81003    375.90500    371.47742
4     6035.336000  ...  21917.21900  22717.43400  23577.45900  24234.17600
..            ...  ...          ...          ...          ...          ...
98    6310.338000  ...  15411.66800  15632.80700  15915.94500  16347.34900
100    152.887800  ...    452.41968    395.10608    347.05972    298.71246
101     63.385323  ...    219.13017    266.77540    294.09840    308.18164
102     91.572430  ...    307.40265    313.08087    348.82306    381.03128
103  32722.135000  ...  50011.83000  50977.21000  52060.85000  52978.80000

            2018         2019         2020         2021         2022  \
0     2299.42920   2295.12060   2055.27830   2242.39450   2361.33700
1     2299.42920   2295.12060   2055.27830   2242.39480   2361.33700
2      227.78590    236.95130    211.92543    221.20369    226.85338
3      354.62560    321.83243    288.19510    350.89080    411.80594
4    24661.98200  24869.03100  23509.30000  24311.85000  23162.40600
..           ...          ...          ...          ...          ...
98   16589.24400  16905.11000  16054.13100  16915.94100  17573.00400
100    237.62270    234.65843    135.11949    145.35960    179.18541
101    324.44900    333.53345    282.96265    273.27765    295.88834
102    443.64407    450.63898    442.95053    485.94165    506.02390
103  53521.38700  53618.92600  48745.68400  51530.49200  53226.84000

            2023
0     2358.96680
1     2358.96680
2      238.20117
3      391.43518
4    24282.18800
..           ...
98   18718.17400
100    234.03502
101    332.01025
102    490.33008
103  54564.00000

[88 rows x 60 columns]

In [ ]:
import pandas as pd

# Carregar o dataset
df_clean = pd.read_csv(file_path)

#Remover coluna entity
df_clean = df.drop(columns=['Entity'])

# Criar uma nova coluna com o total de consumo anual somando todas as colunas de anos
df_clean['Total_Consumo_Anual'] = df.iloc[:, 1:].sum(axis=1)

# Exibir o DataFrame resultante
print(df_clean.head())

          1965         1966        1967         1968         1969        1970  \
0   342.133700   370.450000   369.19354   390.365700   398.153260   435.02704
1   342.133700   370.450000   369.19350   390.365700   398.153260   435.02707
2    15.405252    20.272705    18.94203    20.167301    21.305931    24.34768
3   275.215900   283.876300   290.73495   296.797200   308.011440   278.43550
4  2249.215000  2581.326200  2914.79130  3263.277300  3828.259300  4448.17870

          1971         1972         1973        1974  ...         2015  \
0   474.305400   510.729600   549.803960   569.73850  ...   2202.63060
1   474.305360   510.729600   549.804000   569.73850  ...   2202.63060
2    27.440048    30.121414    32.900345    36.54384  ...    236.14848
3   296.501100   295.186200   297.198640   297.12400  ...    387.81003
4  4877.736300  5359.248000  6035.336000  5968.02700  ...  22717.43400

          2016         2017        2018         2019         2020  \
0   2221.60620   2265.23630   2299.4292   2295.12060   2055.27830
1   2221.60600   2265.23630   2299.4292   2295.12060   2055.27830
2    229.56384    225.51212    227.7859    236.95130    211.92543
3    375.90500    371.47742    354.6256    321.83243    288.19510
4  23577.45900  24234.17600  24661.9820  24869.03100  23509.30000

          2021         2022         2023  Total_Consumo_Anual
0   2242.39450   2361.33700   2358.96680         76671.136900
1   2242.39480   2361.33700   2358.96680         76671.136140
2    221.20369    226.85338    238.20117          6874.215904
3    350.89080    411.80594    391.43518         17401.585230
4  24311.85000  23162.40600  24282.18800        770435.874300

[5 rows x 60 columns]

In [ ]:
# Verificar valores mínimo e máximo
min_consumo = df_clean['Total_Consumo_Anual'].min()
max_consumo = df_clean['Total_Consumo_Anual'].max()

print(f"Valor mínimo: {min_consumo}")
print(f"Valor máximo: {max_consumo}")

Valor mínimo: 395.165121
Valor máximo: 2347492.0859999997

In [ ]:
# Preencher valores NaN
df_clean.fillna(0, inplace=True)

In [ ]:
# Modelo Random Forest
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import classification_report, confusion_matrix

# Preparar categorias para a classificação
def categorizar_consumo(consumo):
    if consumo < 10000:
        return 'Baixo'
    elif consumo <  150000:
        return 'Médio'
    else:
        return 'Alto'

#Função para criar uma nova coluna de classificação
df_clean['classificacao'] = df_clean['Total_Consumo_Anual'].apply(categorizar_consumo)

# Separar as variáveis (anos) e (classificacao)
X = df_clean.drop(columns=['Total_Consumo_Anual', 'classificacao'])
y = df_clean['classificacao']

# Divisão dos dados em conjuntos de treinamento e teste
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

# Inicializar o modelo de RandomForestClassifier
model = RandomForestClassifier(random_state=42)

# Treinar o modelo
model.fit(X_train, y_train)

# Fazer previsões
y_pred = model.predict(X_test)

# Avaliar o desempenho do modelo
accuracy = model.score(X_test, y_test)
print(f'Random Forest Accurácia: {accuracy:.2f}')

# Exibir relatório de classificação
print('\nClassification Report:')
print(classification_report(y_test, y_pred))

# Exibir matriz confusão
print('Matriz Confusão:')
print(confusion_matrix(y_test, y_pred))

Random Forest Accurácia: 0.90

Classification Report:
              precision    recall  f1-score   support

        Alto       1.00      0.80      0.89         5
       Baixo       0.80      1.00      0.89         4
       Médio       0.92      0.92      0.92        12

    accuracy                           0.90        21
   macro avg       0.91      0.91      0.90        21
weighted avg       0.91      0.90      0.90        21

Matriz Confusão:
[[ 4  0  1]
 [ 0  4  0]
 [ 0  1 11]]

In [ ]:
# Modelo Regressão Logistica
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import classification_report, confusion_matrix

# Preparar categorias para a classificação
def categorizar_consumo(consumo):
    if consumo < 10000:
        return 'Baixo'
    elif consumo < 150000:
        return 'Médio'
    else:
        return 'Alto'

# Função para criar uma nova coluna de classificação
df_clean['classificacao'] = df_clean['Total_Consumo_Anual'].apply(categorizar_consumo)

# Separar as variáveis (anos) e (classificacao)
X = df_clean.drop(columns=['Total_Consumo_Anual', 'classificacao'])
y = df_clean['classificacao']

# Dividir os dados em conjuntos de treinamento e teste
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

# Inicializar o modelo de LogisticRegression
model = LogisticRegression(random_state=42, max_iter=1000)

# Treinar o modelo
model.fit(X_train, y_train)

# Fazer previsões
y_pred = model.predict(X_test)

# Avaliar o desempenho do modelo
accuracy = model.score(X_test, y_test)
print(f'Logistic Regression Accuracy: {accuracy:.2f}')

# Exibir relatório de classificação
print('\nClassification Report:')
print(classification_report(y_test, y_pred))

# Exibir matriz confusão
print('Matriz de confusão:')
print(confusion_matrix(y_test, y_pred))

Logistic Regression Accuracy: 0.38

Classification Report:
              precision    recall  f1-score   support

        Alto       0.33      0.80      0.47         5
       Baixo       0.20      0.25      0.22         4
       Médio       0.75      0.25      0.38        12

    accuracy                           0.38        21
   macro avg       0.43      0.43      0.36        21
weighted avg       0.55      0.38      0.37        21

Matriz de confusão:
[[4 1 0]
 [2 1 1]
 [6 3 3]]

/usr/local/lib/python3.10/dist-packages/sklearn/linear_model/_logistic.py:460: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

In [ ]:
# Modelo Gradiente Boosting
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.ensemble import GradientBoostingClassifier
from sklearn.metrics import classification_report, confusion_matrix

# Preparar categorias para a classificação
def categorizar_consumo(consumo):
    if consumo < 10000:
        return 'Baixo'
    elif consumo < 150000:
        return 'Médio'
    else:
        return 'Alto'

# Função para criar uma nova coluna de classificação
df_clean['classificacao'] = df_clean['Total_Consumo_Anual'].apply(categorizar_consumo)

# Separar as variáveis (anos) e (classificacao)
X = df_clean.drop(columns=['Total_Consumo_Anual', 'classificacao'])
y = df_clean['classificacao']

# Dividir os dados em conjuntos de treinamento e teste
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

# Inicializar o modelo de GradientBoostingClassifier
model = GradientBoostingClassifier(random_state=42)

# Treinar o modelo
model.fit(X_train, y_train)

# Fazer previsões
y_pred = model.predict(X_test)

# Avaliar o desempenho do modelo
accuracy = model.score(X_test, y_test)
print(f'Gradient Boosting Classifier Accuracy: {accuracy:.2f}')

# Exibir relatório de classificação
print('\nClassification Report:')
print(classification_report(y_test, y_pred))

# Exibir matriz de confusão
print('Confusion Matrix:')
print(confusion_matrix(y_test, y_pred))

Gradient Boosting Classifier Accuracy: 0.81

Classification Report:
              precision    recall  f1-score   support

        Alto       1.00      0.80      0.89         5
       Baixo       0.67      0.50      0.57         4
       Médio       0.79      0.92      0.85        12

    accuracy                           0.81        21
   macro avg       0.82      0.74      0.77        21
weighted avg       0.81      0.81      0.80        21

Confusion Matrix:
[[ 4  0  1]
 [ 0  2  2]
 [ 0  1 11]]

In [ ]:
# Modelo SVM
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.svm import SVC
from sklearn.metrics import classification_report, confusion_matrix

# Preparar categorias para a classificação
def categorizar_consumo(consumo):
    if consumo < 10000:
        return 'Baixo'
    elif consumo < 150000:
        return 'Médio'
    else:
        return 'Alto'

# Função para criar uma nova coluna de classificação
df_clean['classificacao'] = df_clean['Total_Consumo_Anual'].apply(categorizar_consumo)

# Separar as variáveis (anos) e (classificacao)
X = df_clean.drop(columns=['Total_Consumo_Anual', 'classificacao'])
y = df_clean['classificacao']

# Dividir os dados em conjuntos de treinamento e teste
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

# Inicializar o modelo de SVM
model = SVC(random_state=42)

# Treinar o modelo
model.fit(X_train, y_train)

# Fazer previsões
y_pred = model.predict(X_test)

# Avaliar o desempenho do modelo
accuracy = model.score(X_test, y_test)
print(f'SVM Accuracy: {accuracy:.2f}')

# Exibir relatório de classificação
print('\nClassification Report:')
print(classification_report(y_test, y_pred))

# Exibir matriz confusão
print('Confusion Matrix:')
print(confusion_matrix(y_test, y_pred))

SVM Accuracy: 0.48

Classification Report:
              precision    recall  f1-score   support

        Alto       1.00      0.80      0.89         5
       Baixo       0.29      1.00      0.44         4
       Médio       0.67      0.17      0.27        12

    accuracy                           0.48        21
   macro avg       0.65      0.66      0.53        21
weighted avg       0.67      0.48      0.45        21

Confusion Matrix:
[[ 4  0  1]
 [ 0  4  0]
 [ 0 10  2]]

In [ ]:
# Modelo Árvore de decisão
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.tree import DecisionTreeClassifier
from sklearn.metrics import classification_report, confusion_matrix

# Função de categorização
def categorizar_consumo(consumo):
    if consumo < 10000:
        return 'Baixo'
    elif consumo < 150000:
        return 'Médio'
    else:
        return 'Alto'

# Função para criar uma nova coluna de classificação
df_clean['classificacao'] = df_clean['Total_Consumo_Anual'].apply(categorizar_consumo)

# Separar as variáveis (anos) e (classificacao)
X = df_clean.drop(columns=['Total_Consumo_Anual', 'classificacao'])
y = df_clean['classificacao']

# Dividir os dados em conjuntos de treinamento e teste
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

# Inicializar o modelo Árvore de Decisão
model = DecisionTreeClassifier()

# Treinar o modelo
model.fit(X_train, y_train)

# Fazer previsões
y_pred = model.predict(X_test)

# Avaliar o desempenho do modelo
accuracy = model.score(X_test, y_test)
print(f'Árvore de Decisão Accuracy: {accuracy:.2f}')

# Exibir relatório de classificação
print('\nClassification Report:')
print(classification_report(y_test, y_pred))

# Exibir matriz confusão
print('Confusion Matrix:')
print(confusion_matrix(y_test, y_pred))

Árvore de Decisão Accuracy: 0.86

Classification Report:
              precision    recall  f1-score   support

        Alto       1.00      0.80      0.89         5
       Baixo       0.67      1.00      0.80         4
       Médio       0.91      0.83      0.87        12

    accuracy                           0.86        21
   macro avg       0.86      0.88      0.85        21
weighted avg       0.88      0.86      0.86        21

Confusion Matrix:
[[ 4  0  1]
 [ 0  4  0]
 [ 0  2 10]]

De acordo com os modelos treinados e testados o modelo Random Forest é uma melhor escolha para o problema de classificação devido ter melhor capacidade de manejar os dados desbalanceados contra overfitting.